
<div [ngStyle]="{ backgroundColor : getColor() }" class="container-fluid">
    <div   class="row">
        <div class="col-lg-6">
            <h1>welcome to online result prediction</h1>
            <h4>you ar login with <br>name: <span style="color: coral" >{{name }}</span>  <br>family: <span style="color: coral" >{{family}}</span><br>your id is: <span style="color: coral" >{{  getName() }}</span></h4>
           <br>
           <h4>Pleas enter the prediction and click the button to submit</h4>
           <div class="col-lg-6">
                <input type="text" class="form-control"  placeholder="input your prediction..." #refrence (keyup.enter)="onclickBtn(); refrence.value=''"  (input)="gettext($event)" > <br>
           </div>         
            <button class="btn btn-primary btn-lg" [disabled]="!allowclick" (click)="onclickBtn(); refrence.value='' " >click here</button>
           
        <!--  -->
        <h3 [innerText]="noresult"></h3>
        <!-- <h4 *ngIf="noresult" >vvvv</h4>
        <h4 *ngIf="!result" >p e n</h4> -->

        </div>
            <div class="col-lg-2">
                <br> <br>
                <h6>Input name of your team</h6> 
               <br>
                <input type="text" class="form-control" (input)="gettext1($event)"> 
                <input type="text" class="form-control" (input)="gettext2($event)" > 
                 <input type="text" class="form-control" [(ngModel)]="result3"> <!-- to show we can use also two way binding -->
                <input type="text" class="form-control" (input)="gettext4($event)"> 
               
            </div>
            <div class="col-lg-2">
                <br> <br>
                <app-test ></app-test> 
               
                <h3 [innerText]="result1"></h3>
                <h3 [innerText]="result2"></h3>
                <h3 [innerText]="result3"></h3>
                <h3 [innerText]="result4"></h3>
            </div>
            <div class="col-lg-2">
                    <br> <br>
                <h2 style="color: brown ; padding-left: 7%" > Your Value</h2>   
                
                <h3 [innerText]="pre1">column 3 row 2</h3>
                <h3 [innerText]="pre2">column 3 row 3</h3>
                <h3 [innerText]="pre3">column 3 row 4</h3>
                <h3 [innerText]="pre4">column 3 row 5</h3>
            </div>
            

        
    </div>
</div>
<br>
<div [ngStyle]="{ backgroundColor : getColor() }" class="container-fluid">
    <div   class="row">
        <div class="col-lg-6">
<p>You liked us: </p>
<app-star *ngFor ="let r of ratings"  [starrating]="r" (starClicked)="onClick($event)" ></app-star>

<h4 *ngIf= "eventOutput != null" >liked by : Name : <span style="color: darkkhaki">{{eventOutput.name}}</span> Family :  <span style="color: darkkhaki">{{eventOutput.Family}}</span> **** voted : {{ eventOutput.like }} </h4>
<!-- <h2>{{inum1}}</h2> -->
</div>
<div class="col-lg-3">
    <h3>How much you like us:</h3>
        <div class="input-group">
         <select class="custom-select" #inputPre >
          <option selected>Choose...</option>
          <option value="1">1</option>
          <option value="1.5">1.5</option>
          <option value="2">2</option>
          <option value="2.5">2.5</option>
          <option value="3">3</option>
          <option value="3.5">3.5</option>
          <option value="4">4</option>
          <option value="4.5">4.5</option>
          <option value="5">5</option>
         </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="onClickRefrence(inputPre)" >Button</button>
        </div>
      </div>
        <h5 *ngIf=" inputPre.value != 'Choose...' " >your selection is : {{like}} </h5>
        <h5 *ngIf=" inputPre.value != 'Choose...' "> new total result is : {{ totallike }}</h5>
</div>
</div>
</div>

<br>


<app-change-back-ground>
 
</app-change-back-ground>
