<!-- <div style="width: 400px; margin:2em; ">
<label for="comment" >comment:</label>
<textarea name="comment" class="form-control"></textarea>
<input type="text" class="">
<button style="margin-top: 1em" class="btn btn-primary">Add comment</button>
</div>
<div style="width: 400px; margin:2em;" *ngIf="comments != null " >
<div *ngFor="let c of comments" >
  <p>{{c.comment}}</p>
   <div>
    <app-star[rating]="c.numberOfReview !=0 ? c.star/c.numberOfReviews : 0" ></app-star>
   </div> 
   <div>
    <span>{{c.like}}</span>
    <li class="glyphicon glyphicon-heart" style="cursor: pointer"></li>
    <span>{{c.dislike}}</span>
    <li class="glyphicon glyphicon-heart-empty" style="cursor: pointer"></li>
   </div> 
   <div>
    <span>Rating:</span>
    <input type="number" min="1" max="5" style="width: 30px" >
   </div>
  <hr>
  <br>
</div> 
</div>   -->